@import "color_scheme.css";

.body_content {
    background-color: var(--page-bg);
    font-family: 'Kanit', sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.left-menu {
    float: left;
    position: sticky;
    top: 0px;
    background: var(--left-menu-bg-color);
    width: 350px;
    padding: 5px;
    height: 100vh;
    color: var(--left-menu-text-color);
    overflow-y: auto;
    overflow-x: hidden;
    filter: drop-shadow(0px 0px 1rem var(--left-menu-bg-color));
}

.logo {
    margin-top: 5px;
    width: 100%;
    padding-left: 10px;
    position: relative;
    top: -5px;
    min-width: 150px;
    border-radius: 10px;
}

.logo-text {
    text-align: center;
    font-size: 65px;
    font-family: 'Kanit', cursive;
    font-weight: bold;
    padding-left: 10px;
    color: var(--left-menu-text-color);
    text-shadow: 1px 1px 8px var(--left-menu-text-shadow-color);
}

.left-panel-pages {
    margin-bottom: 5px;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    display: block;
    height: min-content;
    color: var(--left-menu-text-color);
    text-shadow: 0px 0px 4px var(--left-menu-text-shadow-color);
    letter-spacing: normal;
    border-radius: 10px;

    transition: all .2s ease-out;
}

.left-panel-pages:hover {
    background: var(--left-menu-text-color);
    color: var(--left-menu-hovered-text-color);
    letter-spacing: .1rem;
    text-shadow: 1px 1px 4px var(--left-menu-text-color);

    transition: all .2s ease-out;
}

.page-selector {
    margin-top: 10px;
}

.page-content {
    display: flex;
    padding-block: 20px;
    padding-inline: 50px;
    font-size: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.selector-footer {
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 0px;
    padding-inline: 5px;
    font-size: 20px;
}
